---
http_interactions:
- request:
    method: post
    uri: https://api.kustomerapp.com/v1/customers/the_customer_UUID/klasses/order
    body:
      encoding: UTF-8
      string: '{"title":"Order","custom":{"notAnActualAttribute":"foobar"}}'
    headers:
      Authorization:
      - Bearer my_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      Etag:
      - W/"ba-pxrU3oVoK4AvG2e1Dxgp7p2M41U"
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":400,"source":{"parameter":"notAnActualAttribute"},"code":"badparam","title":"Additional
        properties not allowed","detail":"/properties/custom/additionalProperties"}]}'
  recorded_at: Thu, 01 Oct 2020 12:25:07 GMT
recorded_with: VCR 6.0.0
