---
http_interactions:
- request:
    method: get
    uri: https://api.kustomerapp.com/v1/customers/email=not_a_customer@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer my_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
      Etag:
      - W/"60-HutFhcS5uC46icz1LOnmbuNGwCQ"
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":404,"source":{"parameter":"email"},"code":"notfound","title":"Not
        Found"}]}'
  recorded_at: Tue, 06 Oct 2020 09:25:05 GMT
recorded_with: VCR 6.0.0
