---
http_interactions:
- request:
    method: get
    uri: https://api.kustomerapp.com/v1/customers/externalId=9999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer my_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kustomer-Pod:
      - prod1
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      Etag:
      - W/"65-s+40w1cIGBGcdpolCOY90Z+5vq0"
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":404,"source":{"parameter":"externalId"},"code":"notfound","title":"Not
        Found"}]}'
  recorded_at: Thu, 01 Oct 2020 15:10:09 GMT
recorded_with: VCR 6.0.0
